.post-entry {
  margin-top: 1rem;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.post-date {
  font-size: .75rem;
  display: block;
  padding: 1rem 0;
}

.current-menu-item {
  text-decoration: underline;
}

.widget_categories {
  @extend .large-8
}